@using OzkaInsaat.Entity.Models;

@model List<City>

<div class="col-12">
    <div class="card  card-secondary">
        <div class="card-header" style="height:65px">
            <h3 class="card-title">Şehir Tanımlama  <a asp-action="Add" asp-controller="City" class="btn btn-info float-right"> Yeni</a></h3>

           
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
            <table id="datatable" class="table table-striped table-bordered" width="100%">
                <thead>
                    <tr>
                        <th>Adı</th>
                        <th>Ülke</th>

                        <th>Sil</th>
                        <th>Guncelle</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var Item in Model)
                    {
                        <tr>
                            <td>@Item.CityName</td>
                            <td>@Item.CountryName</td>

                            <td> <a asp-action="Delete" asp-controller="City" onclick="return confirm('Silmek istediğinzden emin misiniz?')" asp-route-id="@Item.Id " class="btn btn-danger"> Sil</a></td>
                            <td> <a asp-action="Update" asp-controller="City" asp-route-id="@Item.Id" class="btn btn-info"> Güncelle</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>






        <div class="card-footer">
            
            <a asp-action="Add" asp-controller="City" class="btn btn-info float-right"> Yeni</a>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>


@section head{
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
}
@section scripts{
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
}

@section scriptsready {
    var datatableInstance = $('#datatable').DataTable();
}
